body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00553f; /* A neutral background color */
}

#menu_page_header {
    background-color: #00553f; /* Illinois Wesleyan green, assuming this is the color */
    color: #ffffff; /* white text */
    text-align: center; /* Center the text */
    padding: 1em 0; /* Top and bottom padding */
}

#page_content {
    margin: 2%; /* maintains margin around the content */
    padding: 15rem; /* Top and bottom padding reduced to move the text up */
    background-color: #ffffff; /* white background for content */
    border: 5px solid #00553f; /* Green border, adjust the size as needed */
    /* Add the following properties */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align children to the start of the flex container */
    font-size: larger;
    text-align: justify;
}
#page_content p.search-text, #page_content h1.search-text, #page_content h2.search-text {
    margin-top: -230px; /* Remove top margin */
    padding-top: -100px; /* Remove top padding */

}
#upcoming_events_iframe {
    border: none; /* Remove border from iframe */
    height: 500px;
    width: 55%;
    display: block; /* Block display to center in the parent */
    margin: 1 auto ; /* Auto margins for horizontal centering */
    text-align: right;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center; /* Center all text in these elements */
}



/* Responsive design for smaller screens */
@media (max-width: 768px) {
    #upcoming_events_iframe {
        width: 100%; /* full width on smaller screens */
        height: 300px; /* shorter height on smaller screens */
    }
}
